* {
    margin: 0;
    padding: 0;
}

.breadcrumb, .titulo, .Subtitulo, .botaoVerde {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 40px;
}

body {
    font-family: Quicksand;
    padding-bottom: 100px;
}

body::-webkit-scrollbar {
    display: none;
}

main, section {
    max-width: 1240px;

    margin-left: auto;
    margin-right: auto;
}

header {
    height: 216px;
    background: radial-gradient(50% 50% at 50% 50%, #0A7B20 0%, #085f19 100%);
}

.headerContent {
    max-width: 1240px;
    padding-top: 80px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1280px){
    .headerContent {
        padding-left: 20px;
    }
}

h1, h3, .navMenu, main, footer {
    max-width: 1240px;

    margin-left: auto;
    margin-right: auto;
}

.navMenu a {
    color: rgb(248, 248, 248);
    text-decoration: none;
    padding-right: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;

    margin-left: 20px;
    margin-right: 20px;
}

.navMenu div {
    display: inline-block;
    height: 40px;
}

.navMenu span {
    display: inline-block;
    color: rgb(248, 248, 248);
    padding-right: 4px;
}

h1, h3 {
    color: rgb(248, 248, 248);
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
}

h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
}

nav {
    height: 40px;
    background: #00420C;
    box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.75);
}

.breadcrumb a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.breadcrumb {
    padding-top: 24px;
}

.titulo {
    font-weight: 1000;
    font-size: 32px;

    color: #000000;

    margin-top: 80px;
    margin-bottom: 0px;
    padding-bottom: 0;
}

h4 {
    margin-top: 8px;
    font-size: 16px;
}

footer div {
    padding-top: 240px;
    padding-left: 20px;
}

footer img {
    width: 100px;
    height: 176px;
    float: left;
    margin-right: 24px;
}

footer p {
    padding-top: 80px;
}

.botaoVerde {
    background-color: #117A25;
    color: rgb(248, 248, 248);
    text-decoration: none;
    font-size: 16px;
    padding: 12px 48px;
    border-radius: 5px;
}