* {
    margin: 0;
    padding: 0;
}

.breadcrumb, .titulo, .Subtitulo, .botaoEnviar {
    margin-left: 20px;
    margin-right: 20px;
}

body {
    font-family: Quicksand;
    padding-bottom: 100px;
}

body::-webkit-scrollbar {
    display: none;
}

figcaption {
    display: none;
}

main {
    max-width: 1240px;

    margin-left: auto;
    margin-right: auto;
}

.imgCard {
    width: 575px;
    height: 350px;
}

header {
    height: 216px;
    background: radial-gradient(50% 50% at 50% 50%, #0A7B20 0%, #085f19 100%);
}

.headerContent {
    max-width: 1240px;
    padding-top: 80px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
}

h1, h3, .navMenu, main, footer {
    max-width: 1240px;

    margin-left: auto;
    margin-right: auto;
}

label{
    box-shadow: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: 0;
    border-color: #2F9E41;
    border-width: 3px;
    margin: 20px;
    margin-left: 0;
    max-width: 1240px;
    font: 18px Quicksand;
    color: #707070;
    min-width: 700px;
    min-width: 1240px;
}

button {
    cursor: pointer;
}

.inputNome, .inputEmail, .inputTel {
    box-shadow: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: 0;
    border-color: #2F9E41;
    border-width: 3px;
    margin: 20px;
    margin-left: 0;
    margin-top: 0;
    max-width: 1240px;
    color: #707070;
    min-width: 700px;
    min-width: 1240px;
}

.inputDescricao {
    box-shadow: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: 0;
    border-color: #2F9E41;
    border-width: 3px;
    margin: 20px;
    margin-left: 0;
    margin-top: 0;
    max-width: 1240px;
    color: #707070;
    min-height: 50px;
    max-height: 50px;
    min-width: 700px;
    min-width: 1240px;
}

form {
    max-width: 1240px;
}

.navMenu a {
    position: relative;
    color: rgb(248, 248, 248);
    text-decoration: none;
    padding-right: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.navMenu div {
    display: inline-block;
    height: 40px;
}

.navMenu span {
    display: inline-block;
    color: rgb(248, 248, 248);
    padding-right: 4px;
}

h1, h3 {
    color: rgb(248, 248, 248);
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
}

h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
}

nav {
    height: 40px;
    background: #00420C;
    box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.75);
}

.breadcrumb a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.breadcrumb {
    padding-top: 24px;
}

.titulo {
    font-weight: 1000;
    font-size: 32px;

    color: #000000;

    margin-top: 80px;
    margin-bottom: 0;
    padding-bottom: 0;
}

h4 {
    margin-top: 8px;
    font-size: 16px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}

.logoImg {
    width: 80px;
    height: 80px;
    display: block;
    float: right;
}

.botaoEnviar {
    background-color: #117A25;
    color: rgb(248, 248, 248);
    text-decoration: none;
    font-size: 16px;
    padding: 12px 48px;
    border-radius: 5px;
}

footer div {
    padding-top: 240px;
    padding-left: 20px;
}

footer img {
    width: 100px;
    height: 176px;
    float: left;
    margin-right: 24px;
}

footer p {
    padding-top: 80px;
}