.descricaoQuemSomos {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    margin: 40px 40px 72px 20px;
    color: black;
}

#carousel {
    margin-left: 10px;
    margin-right: 20px;
    
}

#items {
    display: flex;

    overflow-x: auto;
    scroll-behavior: smooth;
}

.item {
    width: 580px;
    height: 330px;
    margin: 0 10px;

    flex: none;

    pointer-events: none;
}

.item img{
    width: 100%;
    height: 100%;

    border-radius: 5px;
    margin-bottom: 8px;
}


   
::-webkit-scrollbar {
    display: none;
}
