.corpo {
    max-width: 1240px;
    padding: 0 20px;
    margin: 32px auto 0 auto;
}

input, textarea {
    width: 100%;
    max-width: 1200px;
    border: none;
    border-bottom: 3px solid #117A25;
    text-indent: 12px;
    padding-bottom: 4px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 48px;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus{
    outline: none;
}

#enviar {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #117A25;
    padding: 12px 140px;
    border-radius: 5px;

    cursor: pointer;
}