.wrap {
    max-width: 1240px;

    margin-left: 20px;
    margin-right: 20px;
}

.row {
    max-width: 1200px;
    width: 100%;

    display: flex;
    justify-content: space-between;
} 

.card a {
    text-decoration: none;
    color: black;
}
.card {
    max-width: 49%;
}

.card img {
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.descricao {
    width: 100%;
}

strong {
    width: 100%;
    display: block;

    margin-top: 12px;

    font-size: 18px;
    line-height: 22px;
}

.equipe {
    width: 100%;

    margin-top: 8px;

    display: flex;
    align-content: center;
    justify-content: space-between;
}

.eTexto {
    margin-top: 16px;
}

.nomeEquipe{
    font-size: 16px;
    line-height: 20px;
}

.semestre{
    font-size: 16px;
    line-height: 20px;

    margin-top: 8px;

    color: #A0A0A0;
}

.equipe img {
    width: 72px;
    height: 72px;
}

#cursos {
    align-content: center;
    justify-content: start;
}

.lista {
    margin-left: 40px;
}

.lista li {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 48px;
}

#cursoDesktop {
    width: 75%;
}

#cursoMob {
    display: none;
}

.botao {
    margin-top: 48px;
    margin-bottom: 120px;
}

.footer div {
    padding-top: 120px;
}

@media (max-width: 1024px) {
    .row {
        display: block;
    }

    .card {
        max-width: 100%;

        margin-bottom: 16px;
    }

    .card img {
        width: 100%;
        height: auto;
        max-height: 600px;
        border-radius: 5px;
    }

    .equipe img {
        width: 72px;
        height: 72px;
    }

    .card:first-child() {
        margin-bottom: 40px;
    }

    .breadcrumb  {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .titulo {
        margin-top: 24px;
        margin-bottom: 4px;
    }

    strong {
        font-size: 22px;
    }
    
    .nomeEquipe {
        font-size: 18px;
    }

    .semestre {
        font-size: 18px;
    }

    ul {
        display: none;
    }

    #ulMenu {
        display: block;
    }

    #cursoDesktop {
        display: none;
    }

    #cursoMob {
        display: inline;
        width: 100%;
    }

    .footer div {
        padding-top: 8px;
    }

    .botao {
        margin-top: 40px;
        margin-bottom: 64px;
    }
}

@media (max-width: 900px) {
    .card img {
        height: auto;
        max-height: 520px;
    }
}

@media (max-width: 800px) {
    .card img {
        height: auto;
        max-height: 460px;
    }
}


@media (max-width: 700px) {
    .card img {
        height: auto;
        max-height: 405px;
    }
}

@media (max-width: 600px) {
    .card img {
        height: auto;
        max-height: 345px;
    }
}

@media (max-width: 500px) {
    .card img {
        height: auto;
        max-height: 285px;
    }
}

.botao:last-child {
    margin-bottom: 0px;
}

