---
layout: default
estilo: "base.css"
secundario: "grid.css"
carousel: "f"
---


<div class="breadcrumb">
    <a href="./index.html">Início</a>
    <a href="./projetos.html"> > Projetos</a>
</div>
<div class="topoBusca">
    <div>
        <p class="titulo">Projetos</p>
        {% assign total = 0 %}
        {% for projeto in site.categories.projetos %}
            {% assign total = total | plus: 1 %}
        {% endfor %}
        <p class="Subtitulo">{{ total }} projetos desenvolvidos</p>
    </div>
    <div class="campoBusca">
        <input type="text" placeholder="Buscar">
        <i class="material-icons">search</i>
    </div>

</div>
<section class="grid4">
    {% for projeto in site.categories.projetos %}
    <div class="card">
        <a href="{{ projeto.url }}">
            <img src="./src/{{ projeto.img }}">
            <div class="descricao">
                <strong>{{ projeto.title }}</strong>
                <div class="equipe">
                    <div class="eTexto">
                        <p class="nomeEquipe">{{ projeto.equipe }}</p>
                        <p class="semestre">{{ projeto.semestre }}</p>
                    </div>
                    <img src="./src/{{ projeto.logo }}">
                </div>
            </div>
        </a>
    </div>

    {% endfor %}

    
</section>

