<div id="menu">
    <div class="barra">
        <i onclick="abrirMenu()" class="material-icons">close</i>

        <ul id="ulMenu" class="itensMenu">
            <li class="itemMenu"><a href="{{ site.baseurl }}/index.html">Início</a></li>
            <li class="itemMenu"><a href="{{ site.baseurl }}/projetos.html">Projetos</a></li>
            <li class="itemMenu"><a href="https://github.com">Cursos</a></li>
            <li class="itemMenu"><a href="{{ site.baseurl }}/podcast.html">Podcast</a></li>
            <li class="itemMenu"><a href="{{ site.baseurl }}/quemSomos.html">Quem somos</a></li>
            <li class="itemMenu"><a href="{{ site.baseurl }}/contato.html">Fale conosco</a></li>
        </ul>
    </div>
    <div onclick="abrirMenu()" class="fade"></div>
</div>