<nav>
    <div class="navMenu">
        <div><a href="{{ site.baseurl }}/index.html">Início</a><span>|</span></div>
        <div><a href="{{ site.baseurl }}/projetos.html">Projetos</a><span>|</span></div>
        <div><a href="https://github.com">Cursos</a><span>|</span></div>
        <div><a href="{{ site.baseurl }}/podcast.html">Podcast</a><span>|</span></div>
        <div><a href="{{ site.baseurl }}/quemSomos.html">Quem Somos</a><span>|</span></div>
        <div><a href="{{ site.baseurl }}/contato.html">Fale Conosco</a></div>
    </div>
</nav>