* {
    margin: 0;
    padding: 0;
}

.breadcrumb, .titulo, .Subtitulo, .botaoVerde {
    margin-left: 20px;
    margin-right: 20px;
}

body {
    font-family: Quicksand;
    padding-bottom: 100px;
}

body::-webkit-scrollbar {
    display: none;
}

figcaption {
    display: none;
}

main {
    max-width: 1240px;

    margin-left: auto;
    margin-right: auto;
}

.imgCard {
    width: 575px;
    height: 350px;
}

.logo {
    align-self: end;
}

header {
    height: 216px;
    background: radial-gradient(50% 50% at 50% 50%, #0A7B20 0%, #085f19 100%);
}

.headerContent {
    max-width: 1240px;
    padding-top: 80px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
}

h1, h3, .navMenu, main, footer {
    max-width: 1240px;

    margin-left: auto;
    margin-right: auto;
}

.navMenu a {
    position: relative;
    color: rgb(248, 248, 248);
    text-decoration: none;
    padding-right: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;

    margin-left: 20px;
    margin-right: 20px;
}

.navMenu div {
    display: inline-block;
    height: 40px;
}

.navMenu span {
    display: inline-block;
    color: rgb(248, 248, 248);
    padding-right: 4px;
}

h1, h3 {
    color: rgb(248, 248, 248);
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
}

h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
}

nav {
    height: 40px;
    background: #00420C;
    box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.75);
}

.breadcrumb a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.breadcrumb {
    padding-top: 24px;
}

.titulo {
    font-weight: 1000;
    font-size: 32px;

    color: #000000;

    margin-top: 80px;
    margin-bottom: 0;
    padding-bottom: 0;
}

h4 {
    margin-top: 8px;
    font-size: 16px;
}

.projetos {
    margin-top: 40px;
}

.cardTitle {
    margin-top: 8px;
    font-weight: 700;
    font-size: 18px;
}

.cardFabrica {
    margin-top: 20px;
    font-size: 16px;
}

.cardData {
    font-size: 16px;

    color: #A0A0A0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}

.flex div{
    width: 100%;
    margin-bottom: 24px;
    display: inline-block;
}

.cardImg {
    height: auto;
    width: 100%;
    border-radius: 5px;
}

@media (min-width: 1240px){
    .flex div {
        width: 575px;
    }
    
    .cardImg {
        height: 320px;
    }
}

.logoImg {
    width: 80px;
    height: 80px;
    display: block;
    float: right;
}

.descricaoCard {
    display: flex;
    flex-wrap: wrap;
}

.descricaoCard div{
    width: 300px;
    display: inline-block;
}

.botaoVerde {
    background-color: #117A25;
    color: rgb(248, 248, 248);
    text-decoration: none;
    font-size: 16px;
    padding: 12px 48px;
    border-radius: 5px;
}

.linha {
    padding-top: 80px;
    width: auto;
}

.imgCursos {
    width: 695px;
    height: 250px;
    margin-right: 36px;
}

@media (max-width: 1240px) {
    .imgCursos {
        width: 100%;
        height: auto;
        margin-right: 36px;
    }

    .flexCurso ul {
        margin-top: 20px;
    }
}

.flexCurso {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px;
}

.flexCurso div{
    width: 600px;
    margin-bottom: 24px;
    display: inline-block;
}

.flexCurso li {
    padding-bottom: 22px;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 24px;
}

.flexCurso ul {
    margin-left: 20px;
}

.liFinal {
    margin: 0;
    padding: 0;
}

iframe {
    margin-top: 40px;
    margin: 40px auto 0 20px;
    max-width: 1240px;
}

.podcastDetalhes {
    margin-bottom: 40px;
}

.podcastDetalhes a {
    margin-left: 20PX;
}

footer div {
    padding-top: 240px;
    padding-left: 20px;
}

footer img {
    width: 100px;
    height: 176px;
    float: left;
    margin-right: 24px;
}

footer p {
    padding-top: 80px;
}